 @font-face {
    font-family: ChakraPetch-Light;
    src: url("assets/fonts/ChakraPetch-Light.ttf");
 }
 @font-face  {
    font-family: Krub-ExtraLight;
    src: url("assets/fonts/Krub-ExtraLight.ttf");
 }
 * {
    box-sizing: border-box;
    border: 1px solid rgb(18, 238, 51);
  }
  body {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
 }
.container {
   max-width: 1440px;
   margin: 0 auto;
 }
 .nav-list {
   display: flex;
   justify-content: flex-end;
   align-items: center;
 }