 @font-face {
    font-family: ChakraPetch-Light;
    src: url("assets/fonts/ChakraPetch-Light.ttf");
 }
 @font-face  {
    font-family: Krub-ExtraLight;
    src: url("assets/fonts/Krub-ExtraLight.ttf");
 }
 * {
    box-sizing: border-box;
  }
  html, body {
   width: 100%;
   margin: 0 auto;
 }

 .container {
   max-width: 1440px;
   margin: 0 auto;
   min-height: 50px;
}
 .header{
   background-color: rgb(168, 211, 248);
}
 .nav-list{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   font-family: Krub-ExtraLight;
   text-transform: uppercase;
   font-size: 20px;
   list-style: none;
}
.nav-link {
   position: relative;
   transition: 0.3s;
   text-decoration: none;
   padding: 20px;
 }

 html{
   scroll-behavior: smooth;
 }
 .section-item a {
   color:rgb(38, 114, 246);
   text-decoration: none;
   transition: color 0.5s;
 }
 .section-item a:hover {
   color: rgb(38, 114, 246);
 }
 .main-container {
   display: flex;
   flex-wrap: wrap;
   
 }
 .section {
   width: 50%;
 }
 @media (max-width: 1480px) {
   .container {
       margin: 0 20px;
   }
}
@media (max-width: 1090px) {
   .main-container {
       justify-content: center;
       flex-wrap: wrap;
   }
}
 .section-title {
   font-family: ChakraPetch-Light;
   font-size: 30px;
   color: rgb(2, 90, 128);
 }
 .section-item{
   font-family: Krub-ExtraLight;
   font-size: 20px;
   font-weight: 600;
   color: rgb(2, 90, 128);
 }

 .summary{
   font-family: Krub-ExtraLight;
   font-size: 20px;
   color: rgb(2, 90, 128);
   padding: 20px;
 }
 .name-title{
   font-family: ChakraPetch-Light;
   font-size: 30px;
   color:  rgb(2, 90, 128);
 }
 .prof-title{
   font-family: ChakraPetch-Light;
   font-size: 25px;
   color: rgb(2, 90, 128);
 }
 .footer {
   background-color: rgb(168, 211, 248);
   padding: 20px;  
 }
 .footer-container{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 0 auto;
  background-color: rgb(168, 211, 248);
  font-family: ChakraPetch-Light;
   font-size: 20px;
 }
 .code{
font-family: ChakraPetch-Light;
font-size: 20px;
 }
