 @font-face {
    font-family: ChakraPetch-Light;
    src: url("assets/fonts/ChakraPetch-Light.ttf");
 }
 @font-face  {
    font-family: Krub-ExtraLight;
    src: url("assets/fonts/Krub-ExtraLight.ttf");
 }